.navbar {
  background-color: white;
  font-size: 36px;
  width: 100vw;
  height: 76px;
  border-bottom: 3px solid #efefef;
  padding-left: 5%;
}

.navbar .dark-grey {
  font-weight: 600;
  letter-spacing: -2px;
}

.navbar-flex {
  display: flex;
}

.navbar-flex span {
  margin: 0px 3px 0px 4px;
  line-height: 43px;
}
