.answer-choice {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5px 5% 10px 5%;
  border: none;
  border-radius: 25px;
  height: 44px;
  text-align: left;
  font-weight: 600;
  /* -webkit-transition-duration: 1s; */ /* Safari */
  /* transition-duration: 1s;
  cursor: pointer; */
}

.question-banner {
  height: 28vh;
  opacity: 0.7;
  display: flex;
  align-items: flex-end;
}

.question-banner-text {
  color: white;
  font-size: 20px;
  margin: 0% 5% 0% 5%;
}

.question-banner-text h2 {
  font-size: 34px;
}

.question-text {
  color: black;
  margin: 20px 5% 20px 5%;
  font-size: 26px;
  font-weight: 400;
}

.letter-container {
  width: 30px;
  height: 30px;
  border-style: none;
  border-color: #df4343;
  border-radius: 50px;
  background-color: #ED6E48;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.letter {
  /* color: white;
  display: block;
  background-color: #ED6E48;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  text-align: center; */
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.exit-text {
  margin: 12% 5% 0% 5%;
  color: black;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}
