<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LeaseMagnets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <h5>LeaseMagnets ReferMagnet Sign Up Form</h5>
      </div>
    </nav>

    <!-- Form -->
    <div class="container my-5">
      <form action="/" method='POST'>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input id = "email" name = "email" type="text" class="form-control" placeholder="mattwhittaker@gmail.com">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input id = "password" name = "password" type="password" class="form-control" >
          <p id="error">{{error}}</p>
        </div>
      <input onclick=""type="submit" value="Sign In">
      </form>
      <div class="container  my-5">
        <p>New User?</p>
        <a href="/signup">Create an account</a>
      </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>

    <script src="{{url_for('static', filename='firebase.js')}}"></script>
    <script src="{{url_for('static', filename='signin.js')}}"></script>

  </body>
</html>
