body {
  margin: 0;
  background-color: white;
}

button:hover {
  opacity: 0.7;
}

.red {
  color: red;
}

.white {
  color: white;
}

.light-grey {
  color: #605d5d;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
